.user-icon{
    width: 50px;
    border-radius: 100%;
    height: 50px;
}
.user-icon:hover{
    outline:5px solid #0d6efd;
}
.card-game{
    width: 300px !important;
    height: 300px !important;
}


.game-container{
    display: flex;
    flex-wrap:nowrap;
    z-index: 2;
    left: 120px;
    top: 110px;
}

.card-game img{
    width: 100%;
    height: 100%;
}

.menu{
    align-self: flex-end;
}
.list-menu{
    border-bottom: 1px solid white;
    justify-self: center;
}
.menu svg{
    padding: 5px 10px;
    background-color: #6c757d;
    border-radius: 100%;
}

.menu svg:active{
}
.nSwitchIcon svg{
    background-color: red;
}

.menu p:nth-child(1) svg::after{
    content: "Nintendo Switch Online";
    color: white;
    position: absolute;
    width: 200px;
    height: 20px;
}
.align-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15px;
}

.btn-A{
    font-size: 10px;
    padding: 3px 6px;
    background-color: #6c757d;
    border-radius: 100%;
    margin-right: 5px;
}

.svg{

    width: auto;
}
.texte{
    width: auto;
    color: white;
    top: 603px;

}

.svg svg:hover{
    outline: 5px solid #0d6efd;
}

.description{
    visibility: hidden;
}